footer{
  background-color: black;
  color: grey;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-cont{
  width: 70%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid grey;
  padding: 20px;
  justify-content: center;
}

.footer-element{
  width: 25%;
  padding: 10px;
  font-size: 15px;
}

.footer-element.about{
  width: 50%;
}

.footer-element > h5{
  font-size: 18px;
  color: white;
  margin-bottom: 20px;
}

.footer-element.about > p{
  margin: 20px 0;
  padding: 10px;
}

.footer-element.details > p{
  border-bottom: 1px solid grey;
  padding: 10px;
}

.map{
  width: 90%;
}

.copyrights{
  font-size: 12px;
  margin: 20px;
}
